﻿@model MVCForum.Website.Areas.Admin.ViewModels.EditCategoryViewModel

@{
    Layout = "~/Areas/Admin/Views/shared/_AdminBlankLayout.cshtml";
    ViewBag.Title = "Edit Category";    
}

@section AdminHeader
{
        @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")            
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )  
}

@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Category</legend>
        
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DateCreated) 
        @Html.HiddenFor(model => model.NiceUrl)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-field n3ocheckboxfield">
            @Html.EditorFor(model => model.IsLocked)
            @Html.LabelFor(model => model.IsLocked)
            @Html.ValidationMessageFor(model => model.IsLocked)
        </div>       

        <div class="editor-label">
            @Html.LabelFor(model => model.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SortOrder)
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentCategory)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ParentCategory, new SelectList(Model.AllCategories, "id", "Name"), string.Empty)
            @Html.ValidationMessageFor(model => model.ParentCategory)
        </div>

        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="Update" />
        </div>
    </fieldset>
}
