﻿@model MVCForum.Website.Areas.Admin.ViewModels.ListCategoriesViewModel
@{
    var mainCategories = Model.Categories.Where(x => x.ParentCategory == null).ToList();
    var subCategories = Model.Categories.Where(x => x.ParentCategory != null).ToList();
}


        
    @if (mainCategories.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Main Categories
                    </th>
                    <th>Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in mainCategories)
                { 
                    <tr>
                        <td class="editcategory mainadmincategory">
                            <a href="@Url.Action("EditCategory", new { id = cat.Id })" class="catfancybox">@Html.Raw(cat.Name)</a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteCategoryConfirmation", new { id = cat.Id })" title="Delete @Html.Raw(cat.Name)" class="btn btn-small"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (subCategories.Any())
    {
        <h2>Sub Categories</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sub Categories
                    </th>
                    <th>Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cat in subCategories)
                { 
                    <tr>
                        <td class="editcategory subadmincategory">
                            <a href="@Url.Action("EditCategory", new { id = cat.Id })" class="catfancybox">@Html.Raw(cat.Name)</a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteCategoryConfirmation", new { id = cat.Id })" title="Delete @Html.Raw(cat.Name)" class="btn btn-small"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


