﻿@model MVCForum.Website.Areas.Admin.ViewModels.ListCategoriesViewModel

@{
    if(Model.Categories.Any())
    {
        <ul class="subcategorylist">
        @foreach (var cat in Model.Categories)
        {
            <li class="subcategoryitem"><a href="@Url.Action("EditCategory", new {id = cat.Id})" class="catfancybox">@Html.Raw(cat.Name)</a>
            <a href="@Url.Action("DeleteCategoryConfirmation", new {id = cat.Id})"><img src="/Content/admin/Images/icons/cross.png" alt="Delete" title="Delete @Html.Raw(cat.Name)" /></a></li>
            @Html.Action("ListAllCategories", new { id = cat.Id })
        }
        </ul>
    }
}


