﻿@using MVCForum.Domain.Constants
@using MVCForum.Website.Application
@{
    //var theme = Html.Settings().Theme;
    //var themePath = string.Concat(AppConstants.ThemeRootFolder, theme);
    var globalClass = Context.IsMobileDevice() ? "mobile" : "desktop";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="n3o Digital">

    @(
 Bundle.Css()
            .Add("~/Content/styles/bootstrap.css")
            .Add("~/Content/styles/bootstrap-responsive.css")
            .Add("~/Content/admin/Admin.css")
            .Add("~/Scripts/fancybox/jquery.fancybox.css")
            .MvcRender("~/content/cache/combinedadmin_#.css")
    )

    <style type="text/css">
        body { padding-top: 60px; padding-bottom: 40px; }
    </style>
    <!--<link href="/css/bootstrap-responsive.css" rel="stylesheet">-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var app_base = '@Url.Content("~/")';
    </script>
    @(Bundle.JavaScript()
        .Add("~/Scripts/jquery-2.0.1.min.js")
        .Add("~/Scripts/jquery.unobtrusive-ajax.js")
        .Add("~/Scripts/jquery-ui-1.10.3.min.js")
        .Add("~/Scripts/bootstrap.min.js")
        .Add("~/Scripts/fancybox/jquery.fancybox.js")
        .Add("~/Scripts/admin/admin.js")
        .MvcRender("~/scripts/cache/combinedadmin_#.js")
    )


    @RenderSection("AdminHeader", false)
</head>

<body class="@globalClass">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="@Url.Action("Index", "Admin", new { area = "Admin" }, null)">
                    <img src="@Url.Content("~/Content/admin/Images/admin-n3o-logo.png")" alt="Admin Logo" />
                </a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="/">Main Site</a></li>
                        <li>@Html.AdminActionLink("Admin Home", "Index", "Admin")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        @Html.Partial("_GenericMessage")

        <div class="row-fluid">

            <div class="span3">
                <div id="logindisplay">
                    @Html.Partial("_LogOnPartial")
                </div>

                <a href="#" class="btn btn-show-admin-nav">Show Admin Options</a>
                <div class="admin-options">
                    <h6>Settings</h6>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="@Url.Action("Index", "Settings", new { area = "Admin" }, null)">
                                <i class='icon-cog'></i>Configuration
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "AdminCategory", new { area = "Admin" }, null)">
                                <i class='icon-list-alt'></i>Categories
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Permissions", new { area = "Admin" }, null)">
                                <i class='icon-lock'></i>Permissions
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "AdminLanguage", new { area = "Admin" })">
                                <i class='icon-volume-up'></i>Language
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "AdminTag", new { area = "Admin" })">
                                <i class='icon-tags'></i>Tags
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "AdminBadge", new { area = "Admin" })">
                                <i class='icon-bookmark'></i>Badges
                            </a>
                        </li>
                    </ul>
                    <h6>Membership</h6>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="@Url.Action("Manage", "Account", new { area = "Admin" }, null)">
                                <i class='icon-user'></i>Manage Users
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListAllRoles", "Account", new { area = "Admin" }, null)"><i class="icon-flag"></i>Manage Roles</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddRole", "Account", new { area = "Admin" }, null)"><i class="icon-plus"></i>Add Roles</a>
                        </li>

                    </ul>
                    <h6>Tools</h6>
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="@Url.Action("Index", "ImportExport", new { area = "Admin" })">
                                <i class='icon-random'></i>Import / Export
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Batch", new { area = "Admin" })">
                                <i class='icon-tasks'></i>Batch Tools
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "BannedEmail", new { area = "Admin" })">
                                <i class='icon-ban-circle'></i>Ban Emails
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "BannedWord", new { area = "Admin" })">
                                <i class='icon-text-width'></i>Ban Words
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "AdminLucene", new { area = "Admin" })">
                                <i class='icon-fast-forward'></i>Lucene
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Log", new { area = "Admin" })">
                                <i class='icon-exclamation-sign'></i>Log
                            </a>
                        </li>
                    </ul>
                    @Html.Partial("_GetCurrentVersion")
                </div>

            </div>

            <div class="span9 mainadminbody">
                @RenderBody()
            </div>
        </div>

        <hr>

        <footer>
            <p>&copy; <a href="http://www.webdesigncompany.co.uk">n3o Digital</a> @DateTime.UtcNow.Year</p>
            @RenderSection("AdminFooter", false)
        </footer>

    </div>

</body>
</html>
