﻿@using MVCForum.Domain.Constants
@using System.Linq;
@using MVCForum.Utilities
@model MVCForum.Website.ViewModels.HighEarnersPointViewModel

@if (Html.Settings().EnablePoints)
{
    <div class="side-box highearners-box">
    <h5>@Html.LanguageString("Points.ThisWeeksHighEarners")</h5>

    <ul>
        @foreach (var dict in Model.HighEarners.Where(x => x.Value > 0))
        {    
            <li>
                <span class="earnername">
                    <img src="@StringUtils.GetGravatarImage(dict.Key.Email, AppConstants.GravatarLeaderboardSize)" alt="@dict.Key.UserName">
                    <a href="@dict.Key.NiceUrl">@dict.Key.UserName</a>
                </span>
                <span class="earneramount">@dict.Value</span>
            </li>
        }
    </ul>

    </div>
}