﻿@model MVCForum.Website.Areas.Admin.ViewModels.RoleViewModel

@{
    ViewBag.Title = "AddRole";    
}

@section AdminHeader
{
    @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")            
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )  
}


@using (Html.BeginForm("AddRole", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add New Role</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoleName)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

    <div class="submit-holder">
        <input type="submit" class="btn btn-large btn-success" value="Create" />
    </div>
    </fieldset>
}
