﻿@model MVCForum.Website.Areas.Moderator.ViewModels.DeleteRuleViewModel

@{
    ViewBag.Title = "Delete Category";

    using (Html.BeginForm("DeleteRule", "ModeratorRule", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h2>Delete Rule?</h2>        
            <p>Are you sure you want to delete this Rule</p>
            @Html.HiddenFor(x => x.Id)
            <div class="submit-holder">
                <input type="submit" class="btn btn-large btn-success" value="Yes" /> 
            </div>
        }
    
}     