﻿@using MVCForum.Domain.DomainModel
@model MVCForum.Website.Areas.Moderator.ViewModels.EditRuleViewModel

@{
    Layout = "~/Areas/Moderator/Views/shared/_ModeratorBlankLayout.cshtml";
    ViewBag.Title = "Edit Rule";    
}

@section AdminHeader
{
        @(
        Bundle.JavaScript()
            .Add("~/Scripts/jquery.validate.min.js")
            .Add("~/Scripts/jquery.validate.unobtrusive.min.js")            
            .MvcRender("~/scripts/cache/validate-combined_#.js")
    )  
}

@using (Html.BeginForm("EditRule", "ModeratorRule", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit Category</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Result)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Result, new SelectList(Enum.GetNames(typeof(Result))), Result.Edit)
            @Html.ValidationMessageFor(model => model.Result)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Penalty)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Penalty.Kind, new SelectList(Enum.GetNames(typeof(PenaltyKind))), PenaltyKind.Warning)
            @Html.EditorFor(model => model.Penalty.LengthInDays)
            @Html.ValidationMessageFor(model => model.Penalty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditMessage)
        </div>

        <div class="editor-field n3ocheckboxfield">
            @Html.EditorFor(model => model.NeedConfirmation)
            @Html.LabelFor(model => model.NeedConfirmation)
            @Html.ValidationMessageFor(model => model.NeedConfirmation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionsToMade)
        </div>
        <div>
            <table>
                @{
    int index = 0;
    foreach (var rule in Model.ActionsToMade)
    {
        <tr>
            <td>
                @rule.Key
                @Html.Hidden(string.Format("ActionsToMade[{0}].Key", index), rule.Key)
            </td>
            <td>
                @Html.CheckBox(string.Format("ActionsToMade[{0}].Value", index), rule.Value)
            </td>
        </tr>
        index++;
    }
                }
            </table>
        </div>



        <div class="submit-holder">
            <input type="submit" class="btn btn-large btn-success" value="Update" />
        </div>
    </fieldset>
}
