﻿@model MVCForum.Website.Areas.Moderator.ViewModels.ListRulesViewModel
@{
    var mainRules = Model.Rules.ToList();
}
      
    @if (mainRules.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Main Rules
                    </th>
                    <th>Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rule in mainRules)
                { 
                    <tr>
                        <td class="editcategory mainadmincategory">
                            <a href="@Url.Action("EditRule", new { id = rule.Id })" class="catfancybox">@Html.Raw(rule.Name)</a>
                        </td>
                        <td>
                            <a href="@Url.Action("DeleteRuleConfirmation", new { id = rule.Id })" title="Delete @Html.Raw(rule.Name)" class="btn btn-small"><i class="icon-remove"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }


