﻿@model MVCForum.Website.Areas.Moderator.ViewModels.ListRulesViewModel

@{
    if(Model.Rules.Any())
    {
        <ul class="subcategorylist">
        @foreach (var cat in Model.Rules)
        {
            <li class="subcategoryitem"><a href="@Url.Action("EditRule", new {id = cat.Id})" class="catfancybox">@Html.Raw(cat.Name)</a>
            <a href="@Url.Action("DeleteRuleConfirmation", new {id = cat.Id})"><img src="/Content/admin/Images/icons/cross.png" alt="Delete" title="Delete @Html.Raw(cat.Name)" /></a></li>
            @Html.Action("ListAllRules", new { id = cat.Id })
        }
        </ul>
    }
}


