﻿@using MVCForum.Utilities
@model MVCForum.Website.Areas.Admin.ViewModels.IndexViewModel
@{
    ViewBag.Title = "MVC Forum Admin";
   
}
@section AdminHeader
{
    <script src="@Url.Content("~/Scripts/dashboard.js")" type="text/javascript"></script>
}
<h1>Admin overview page</h1>

<div class="row-fluid dashboardrow">

    <div class="span6">
        <div class="admindashboard">
            <h4>Todays Topics</h4>
            <div class="dashboardtodaystopics">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
    
    <div class="span6">
        <div class="admindashboard">
            <h4>Lowest Point Posts</h4>
            <div class="dashboardlowestpointposts">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>

<div class="row-fluid dashboardrow">
    <div class="span6">
        <div class="admindashboard">
            <h4>Latest Users</h4>
            <div class="dashboardlatestusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="admindashboard">
            <h4>Lowest Point Users</h4>
            <div class="dashboardlowestpointusers">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>

<div class="row-fluid dashboardrow">
    <div class="span6">
        <div class="admindashboard">
            <h4>Highest Viewed Topics</h4>
            <div class="dashboardhighestviewedtopics">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="admindashboard">
            <h4>MVC Forum Latest News</h4>
            <div class="mvcforumlatestnews">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>
<div class="row-fluid dashboardrow">
    <div class="span6">
        <div class="admindashboard">
            <h4>Moje Viewed Topics</h4>
            <div class="mvcforumlatestnews">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>