﻿@model MVCForum.Website.Areas.Moderator.ViewModels.IndexViewModel
@{
    ViewBag.Title = "MVC Forum Moderator";
   
}
@section AdminHeader
{
    <script src="@Url.Content("~/Scripts/dashboard.js")" type="text/javascript"></script>
}
<h1>Moderator overview page</h1>
<div class="row-fluid dashboardrow">

    <div class="span6">
        <div class="admindashboard">
            <h4>Posts to moderate</h4>
            <div class="poststomoderate">
                <img src="@Url.Content("~/Content/Images/arrow-spinner-blue.gif")" alt="loading" />
            </div>
        </div>
    </div>
</div>