﻿/*--- Bootstrap Overides ---*/
.container-fluid { max-width: 1000px; margin-left: auto; margin-right: auto; }
.navbar .brand { padding-top: 5px; padding-bottom: 3px; }
input.btn, button.btn { font-weight: normal; }
.navbar { background-color: #4891dc; position: relative; margin-bottom: 15px; }
.navbar-inner { background: none; border: none; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; box-shadow: none; background-color: #4891dc; filter: none; }
.navbar .nav > li > a { color: #fff; text-shadow: none; }
.navbar .nav > li > a:hover { background-color: #3c7ec3; color: #fff; text-decoration: none; }
.navbar-inverse .navbar-inner { background-color: #4891dc; background-image: none; border-color: #4891dc; filter: none; }
.navbar-inverse .btn-navbar { background-color: #346FA9; background-image: -moz-linear-gradient(top, #508CC9, #3c7ec3); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#508CC9), to(#3c7ec3)); background-image: -webkit-linear-gradient(top, #508CC9, #3c7ec3); background-image: -o-linear-gradient(top, #508CC9, #3c7ec3); background-image: linear-gradient(to bottom, #508CC9, #3c7ec3); border-color: #3c7ec3 #3c7ec3 #2D6093; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff508CC9', endColorstr='#ff3c7ec3', GradientType=0); }
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] { color: #ffffff; background-color: #508CC9; *background-color: #508CC9; }
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active { background-color: #508CC9 \9; }
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav-collapse .nav > li > a:focus,
.navbar-inverse .nav-collapse .dropdown-menu a:hover,
.navbar-inverse .nav-collapse .dropdown-menu a:focus { background-color: #3c7ec3; }
.navbar-inverse .nav-collapse .nav > li > a,
.navbar-inverse .nav-collapse .dropdown-menu a { color: #fff; }
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { font-weight: normal; }

/*--- Documentation Styles on home page ---*/
.documentation-message {}
.documentation-message .documentation-message-block { border: 1px solid #E4E4E4; background-color: #F4F4F4; padding: 7px 12px 7px 12px; min-height: 170px; }
.documentation-message .documentation-message-block h3 { margin: 0;padding: 0;}
.documentation-message .documentation-message-block .btn {padding:8px 0;width: 100%;}

/* --- Set main body styles --- */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
input[type=submit] { -webkit-appearance: none; }
body { font-family: 'MVCforumLight', Calibri, Arial, Helvetica, sans-serif; color: #626262; }

/* ---- Generic Link Styles ---- */
a, a:visited { color: #2470BB; }
a:hover, a:focus { color: #585858; }



/* ---- Generic Heading Styles ---- */
h1, h2, h3, h4, h5, h6 { text-rendering: optimizelegibility; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #4891DC; }
h1 { font-size: 30px; margin-bottom: 13px; color: #4891DC; font-weight: normal; font-family: 'MVCforumLight'; }
h2 { font-size: 26px; margin-bottom: 13px; color: #AAAAAA; font-weight: normal; font-family: 'MVCforumLight'; }
h3 { font-size: 22px; margin-bottom: 8px; color: #AAAAAA; font-weight: normal; font-family: 'MVCforumLight'; }
h4 { font-size: 19px; margin-bottom: 8px; color: #AAAAAA; font-weight: normal; font-family: 'MVCforumLight'; }
h5 { font-size: 17px; margin-bottom: 8px; color: #AAAAAA; font-weight: normal; font-family: 'MVCforumLight'; }
h6 { font-size: 16px; margin-bottom: 8px; color: #AAAAAA; font-weight: normal; font-family: 'MVCforumLight'; }

input[type=text], input[type=password], textarea, select { -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }
form { margin-bottom: 5px; }

/*--- Responsive Videos ---*/
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* ---- Paragraph Styles ---- */
p { margin: 0 0 14px 0; line-height: 20px; font-size: 14px; font-family: 'MVCforumLight', Calibri, Arial, Helvetica, sans-serif; }
p a, p a:visited { text-decoration: underline; }
p a:hover { text-decoration: none; }

hr.thin { margin: 14px 0; }
.span9 hr.thin:last-child { display: none; }

/*--- Padded Row ---*/
.paddedrow { padding-top: 10px; padding-bottom: 10px; }

.no-end-margin { margin-left: 0 !Important; margin-right: 0 !Important; }
.no-margin { margin: 0 !Important; }

/*---- Global Styles ----*/
.btn, .btn-group .btn:first-child, .btn-group .btn:last-child { text-decoration: none; cursor: pointer; -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }
.btn-success { background-color: #90C153; background-image: -moz-linear-gradient(top, #90C153, #86b54b); background-image: -ms-linear-gradient(top, #90C153, #86b54b); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#90C153), to(#86b54b)); background-image: -webkit-linear-gradient(top, #90C153, #86b54b); background-image: -o-linear-gradient(top, #90C153, #86b54b); background-image: linear-gradient(top, #90C153, #86b54b); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90C153', endColorstr='#86b54b', GradientType=0); border-color: #86b54b #86b54b #387038; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
.btn-group { margin-top: 10px;margin-bottom: 10px;}

/*90C153 7dab44*/
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { background-color: #86b54b; }
.btn-success:visited { color: #fff; }

.sidelayoutsection { position: relative; }

/*--- Forms --------*/

/*--- Validation errors ---*/
.validation-summary-errors { background-color: #F2DEDE; color: #B94A48; border: 1px solid #EED3D7; border-radius: 4px 4px 4px 4px; margin-bottom: 18px; padding: 8px 14px 8px 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.validation-summary-errors span { display: block; padding: 0 0 5px 0; }
.validation-summary-errors ul { margin-bottom: 0;}

/*labels*/
.editor-label { padding: 5px 0 2px 0; }
.editor-label label { }

/*textboxes*/
.editor-field { }
.editor-field input[type=text], .editor-field input[type="password"] { font-size: 15px; width: 95%; line-height: 28px; height: 28px; }

/*textareas*/
textarea { min-height: 220px; width: 95%; }

/*dropdowns*/
select { }

/*--- Validation Errors ---*/
.input-validation-error { border-color: #B94A48; color: #B94A48; }
.field-validation-error span { color: #B94A48; display: block; }

/*checkboxes/radiobuttons*/
.editor-checkboxes { padding: 0 0 6px; }
.editor-checkboxes span { padding: 0 15px 0 0; }
.n3ocheckboxfield { overflow: hidden; padding: 4px 0 10px 0; }
.n3ocheckboxfield label { display: block; padding: 0 0 0 10px; float: left; }
.n3ocheckboxfield input { float: left; }

/*--- Ajax Spinner ---*/
.ajaxspinner { width: 16px; height: 16px; background: transparent url('../Images/arrow-spinner-blue.gif') no-repeat; padding: 0 0 0 20px; }

/*submit buttons*/
.submit-holder { padding: 18px 0; }

/*--- Header ---*/
.navbar .brand { padding: 4px 0 0 0; margin: 5px 15px 0 0; width: 145px; height: 28px; display: block; text-transform: capitalize; text-indent: -9999px; background: transparent url('../Images/admin-n3o-logo.png') no-repeat; }

/*--- small logon ---*/
.loginsmallheader { background-color: #eee; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; text-align: center; padding: 3px 0; }

/*--- Side box styles ---*/
.side-box { padding: 5px 0 20px 0; }
.side-box ul { padding: 0; margin: 0; border-bottom: 1px #fff solid; }
.side-box ul li { padding: 4px 0; font-size: 14px; border-top: 1px #fff solid; list-style: none; }
.side-box h5 { font-size: 17px; padding: 8px 12px; color: #efefef; font-family: 'MVCforumLight'; background-color: #4891dc; }
.side-box a, .side-box a:visited { color: #626262; }
.side-box a:hover { }
.categories-box ul li, .profile-box ul li { margin: 0 0 3px 0; padding: 0; }
.categories-box ul li a, .categories-box ul li a:visited, .profile-box ul li a, .profile-box ul li a:visited { display: block; clear: both; margin: 0; background-color: #efefef; padding: 5px 10px; color: #626262; }
.categories-box ul li a:hover, .profile-box ul li a:hover { background-color: #ccc; }

/*--- Subcategories --*/
.subcategoryholder { }
.subcategoryholder h4 { font-size: 17px; padding: 8px 12px; color: #efefef; background-color: #4891dc; margin: 0 0 3px 0; }
.subcategoryholder ul { padding: 0 0 30px 0; margin: 0 0 0 0; }
.subcategoryholder ul li { display: block; float: left; list-style: none; width: 33%; }
.subcategoryholder ul li a, .subcategoryholder ul li a:visited { display: block; margin: 2px; background-color: #efefef; padding: 5px 10px; }
.subcategoryholder ul li a:hover { background-color: #ccc; }

/*--- category rows ---*/
.catrow { border-bottom: 1px #BFBFBF solid; }

/*--- New Discussion Button ---*/
.new-discussion-button { display: block; line-height: 45px; height: 45px; text-align: center; padding: 0; }

/*--- Topic Listing Pages ---*/
.topicrow { padding: 0; *zoom: 1; }
.topicrow:before, .topicrow:after { display: table; content: ""; }
.topicrow:after { clear: both; }
.topicrowdetails { }
.topicrowdetails .tagsinput { margin: 0; padding: 0; }
.topicrowdetails h3 { margin: 0 0 12px 0; line-height: 25px; }
.topicrowdetails h3 a, .topicrowdetails h3 a:visited { color: #4891DC; font-size: 26px; }

.topicstats { text-align: center; }
.statsblock { font-size: 20px; font-weight: bold; padding: 8px 0 2px 0; color: #fff; border-top: 2px solid #a8a7a7; height: 45px; width: 44px; float: left; background: none repeat scroll 0 0 #BFBFBF; }
.statsblock span { font-size: 9px; font-weight: normal; display: block; }

.topicvotes { }
.topicvotessmall { background: none repeat scroll 0 0 #BFBFBF; display: block; width: 25px; font-size: 18px; text-align: center; }
.topiccomments { margin: 0 4px; }
.topicviews { }

.topicpreview { padding: 2px 0 0 0; }
.answered { background-color: #90c153; color: #ffffff !Important; border-top: 2px solid #86b54b; }

.topicrowstatscategory { font-size: 12px; font-style: italic; color: #a3a3a3; padding: 5px 0; }
.topicrowstatscategory a, .topicrowstatscategory a:visited { color: #a3a3a3; text-decoration: underline; }
.topicrowstatscategory a:hover { text-decoration: none; }

.topicrecent { text-align: center; }
.topicrecent p { margin: 0; font-size: 11px; }
.topicrecenttitle { font-weight: bold; padding: 0 0 5px 0; }
.topicrecentavatar { }
.topicrecentavatar img { }
.topicrecentdate { line-height: 11px; padding: 6px 0 0 0; }
.topicheader { margin: 0 0 25px 0; }

.topictitleholder { }
.topictitleholder h2 { margin: 0; }
.createtopicbuttonholder { }
.createtopicbuttonholder input { width: 99%; padding-left: 0; padding-right: 0; text-align: center; }
.topicoptionsholder { padding: 10px 0 0 0; }

/*--- Polls ---*/
.pollcreatebuttonholder { text-align: right; }
.createpollbutton { }
.removepollbutton { }
.pollanswerholder { }
.pollanswerholder ul { padding: 0; margin: 0; list-style: none; }
.pollanswerholder ul li { list-style: none; padding: 0 0 5px; }
.pollanswerholder ul li input { width: 95%; height: 19px; line-height: 19px; }
.showpollholder { padding: 0 0 15px 0; }
.pollanswerrow { padding: 5px 0; font-size: 18px; padding: 5px 0; }
.pollbar { background-color: #AAAAAA; height: 20px; float: left; margin: 0 11px 0 0; }
.pollvotebuttonholder { padding: 10px 0; }
.pollanswerrowholder { font-size: 14px; padding: 0 0 3px 0; font-style: italic; }
.pollradiobuttonholder { float: left; width: 40px; text-align: center; height: 20px; }
input[type="radio"].pollanswerselect { margin: 3px 0 0 15px; float: left; }

/*-- Posts ---*/
.post { padding: 7px 0; margin-bottom: 14px; }
/*.post:nth-child(odd) {background-color:#f9f9f9;}*/
.postmemberdetails { }
.postmemberdetailsinner { text-align: center; padding: 6px 0 5px; color: #999999; font-size: 11px; }
.postmemberavatar img { }

.postmemberposts span { color: #000000; padding: 3px 0 0 0; }
.postmemberkarma span { color: #000000; padding: 3px 0 0 0; }

.postbody { }
.postcontent { }
.postbodytop { clear: both; padding: 5px 0; border-bottom: 1px #BFBFBF dotted; font-size: 11px; margin: 0 0 18px 0; color: #BFBFBF; }

.postkarmaouter { }
.postkarmaouter .postadminui { display: block; padding: 8px 0; clear: both; }
.postkarmaouter .postadminui a, .postkarmaouter .postadminui a:visited { display: block; margin: 5px 0; clear: both; background-color: #ccc; text-align: center; padding: 1px; font-size: 11px; font-weight: bold; color: #FFFFFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; text-decoration: none; }
.postkarmaouter .postadminui a:hover { background-color: #7D7D7D; }
.postlastedited { margin: 0; padding: 15px 0 0 0; font-size: 11px; font-style: italic; color: #bbb; }
.userpostsignature { padding: 5px 0 0 0; clear: both; margin: 30px 0 0 0; border-top: 1px #efefef dotted; }

.editorholder { margin: 0 0 15px 0; }
.editorholder textarea { height: 220px; }
.karmaholder { text-align: center; margin: 0; min-height: 70px; height: auto !important; height: 70px; }
.karmascore { background-color: #fff; display: block; font-size: 26px; padding: 6px 0 8px; line-height: 30px; margin: 5px 0; border: 1px solid #ccc; }
.postissolution { background-color: #90c153; color: #ffffff !Important; border: none; border-top: 2px solid #86b54b; }

.thumbuplink { height: 13px; width: 26px; font-size: 0; display: block; line-height: 0; margin: 0 auto; background-image: url('../Images/up-arrow.png'); background-repeat: no-repeat; text-indent: -9999em; cursor: pointer; }
.thumbdownlink { height: 13px; width: 26px; font-size: 0; display: block; line-height: 0; margin: 0 auto; background-image: url('../Images/down-arrow.png'); background-repeat: no-repeat; text-indent: -9999em; cursor: pointer; }
#topicheading { margin: 0 0 10px 0; }
p.lastedited { font-size: 11px; font-style: italic; color: #595959; }

.userpostadmin { }

.solutionholder { display: block; text-decoration: none; width: 40px; height: 31px; margin: 10px auto 0 auto; background-image: url('../Images/solve-tick.png'); background-repeat: no-repeat; background-position: left; cursor: pointer; display: block; font-size: 0; display: block; line-height: 0; text-indent: -9999em; clear: both; }
.solutionholder:hover { background-position: right; }
.issolution-solved { background-position: right !Important; cursor: default; }

#createpostholder { padding: 15px 0 0 0; }
#createpostwait { margin: 0 0 0 15px; }
.floater { position: fixed; top: 50px; z-index: 999; width: 220px; }

.createpostholder .ajaxspinner { float: right; margin: 0 0 0 0; }

/*--- Topic Starter Post ---*/
.topicstarterpost { padding: 0 0 10px 0; border-bottom: 3px #ccc solid; margin: 0 0 35px 0; }
.topicstarterpost .post { margin-bottom: 0; }
.topicstarterpostcomments { font-size: 21px; }
.topicpostorderfilter { text-align: right; font-size: 12px; }
.topicpostorderfilter .orderfilerlink { }
.topicpostorderfilter .orderfilerlinkactive { text-decoration: underline; }
.topicstarterpostbeginpostsheading { padding-top: 7px; }

/*--- Show more posts button ---*/
.showmoreposts { width: 100%; padding: 10px 0; display: block; font-size: 18px; margin: 0 0 25px 0; clear: both; }


/*--- TAGS ---*/
div.tagsinput { background: #FFF; padding: 10px 0 0 0; overflow-y: auto; }
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius: 2px; -webkit-border-radius: 2px; display: block; float: left; padding: 2px 5px; text-decoration: none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom: 5px; }
div.tagsinput span.tag:hover { background-color: #c3dc91; }
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration: none; font-size: 11px; }
div.tagsinput input { width: 80px; margin: 0px; font-family: helvetica; font-size: 13px; padding: 5px; background: transparent; color: #000; outline: 0px; margin-right: 5px; margin-bottom: 5px; }
div.tagsinput div { display: block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important; }

/*--- Tag Cloud ---*/
ul.tagCloud { border: none!Important; overflow: hidden; }
ul.tagCloud li { float: left; padding: 3px 4px !Important; margin: 0 6px 6px 0; background-color: #fff; border: 1px #efefef solid; }
ul.tagCloud li:hover { background-color: #efefef; }
ul.tagCloud li a, ul.tagCloud li a:visited { color: #7d7d7d; }
ul.tagCloud li span.tagName { float: left; width: auto; display: block; margin: 0 5px 0 0; }
ul.tagCloud li span.tagCount { float: left; padding: 0 2px; width: auto; display: block; background-color: #BFBFBF; color: #fff; }

/*--- High Earners ---*/
.highearners-box { }
.highearners-box ul { }
.highearners-box ul li { overflow: hidden; display: block; }
.highearners-box ul li span.earnername { float: left; width: auto; display: block; }
.highearners-box ul li span.earneramount { float: right; padding: 2px; width: auto; display: block; background-color: #fff; color: #7D7D7D; }

/*--- Member Profiles Public ---*/
.memberprofilepublic { }
.memberprofilepublic h2 { }
.memberprofilepublic h3 { }
.memberprofilepublic .memberprofileadminsection { }
.memberprofilepublic .memberdiscussions { }
.memberprofilepublic .badgeactivity { padding: 15px 0 0 0; margin-top: 10px; border-top: 1px #efefef solid; }
.memberprofilepublic .memberactivity { }
.topicrowslim { padding: 3px 0; }

/*--- Notification Section ---*/
.rsssubscribe { float: right; margin:10px 0 0 12px; display: block; width: 17px; height: 17px; background: transparent url('../Images/rss-icon.png') no-repeat; text-transform: capitalize; text-indent: -9999px; }
.emailsubscription, .emailunsubscription { float: right; margin: 0 0 0 12px; padding: 0 20px 0 0; background-position: right center; background-repeat: no-repeat; height: 16px; line-height: 16px; }
.emailsubscription { background-image: url('../Images/mail-add.png'); }
.emailunsubscription { background-image: url('../Images/mail-delete.png'); }

/*--- Footer Stats ---*/
.latestmembersjoined, .activememberslist { padding: 5px 0; margin: 0; }
.latestmembersjoined li, .activememberslist li { display: inline; padding: 2px 5px 2px 0; }
.activememberslist li { line-height: 22px; }
.latestmembersjoined li a, .latestmembersjoined li a:visited, .activememberslist li a, .activememberslist li a:visited { color: #4891DC; text-decoration: underline; }
.activememberslist li a { text-decoration: none; }
.latestmembersjoined li a:hover, .activememberslist li a:hover { text-decoration: none; }
.latestmemberheading, .activememberslistheading { font-weight: bold; }

/*--- Private Messages ---*/
.privatemessagefrom { font-size: 12px; padding: 5px 0; }
.privatemessagesent { font-size: 12px; padding: 5px 0; }
.privatemessagecontent { padding: 10px 0; }
.previousmessageholder { padding: 15px 0 0 0; margin: 15px 0 0 0; border-top: 1px dotted #ccc; color: #7D7D7D; }
.previousmessageholder .originalmessage { display: block; font-style: italic; padding: 0 0 6px 0; font-size: 12px; }
.privatemessagedelete { cursor: pointer; }

/*--- Leaderboard Holders ---*/
.leaderboardholders { }
.leaderboardholders ul { padding: 0; margin: 0; }
.leaderboardholders ul li { overflow: hidden; padding: 2px; margin: 0 0 3px 0; background-color: #efefef; font-size: 16px; }
.leaderboardholders ul li a, .leaderboardholders ul li a:visited { color: #626262; }
.leaderboardholders ul li .earnername { display: block; float: left; padding: 5px; }
.leaderboardholders ul li .earneramount { display: block; float: right; padding: 5px; background-color: #fff; }

/*--- Change Password ---*/
.changepasswordtext { padding: 12px 0; margin: 0; }
.changepasswordtext a, .changepasswordtext a:visited { text-decoration: underline; }
.changepasswordtext a:hover { text-decoration: none; }

/*--- Forgot Password ---*/
.forgotpasswordtext { padding: 12px 0; margin: 0; }
.forgotpasswordtext a, .forgotpasswordtext a:visited { text-decoration: underline; }
.forgotpasswordtext a:hover { text-decoration: none; }

/*--- Activity ---*/
.activityholder { }
.activityholder .activityentry { padding: 12px 0; border-bottom: 1px #eee dotted; }
.activityholder .activityentry a, .activityholder .activityentry a:visited { text-decoration: underline; }
.activityholder .activityentry a:hover { text-decoration: none; }
.activityholder .activityentry p { margin: 0; }
.activityholder .activitybadge { }
.activityholder .activityinfo { }
.activityholder .activityinfo .activityinfotext { font-size: 20px; }
.activityholder .activityinfo .activitysubdate { font-size: 10px; }
.activitybadgedescription { font-style: italic; padding: 3px 0; }

/*--- Badge List Member Profile ---*/
.memberbadgelist { padding: 0; margin: 0; }
.memberbadgelist li { padding: 4px 0; margin: 0; list-style: none; border-bottom: 1px #eee dotted; }

/*--- Badge List Public ---*/
.badgeholder { }
.publicbadgeline { }
.publicbadge { }
.publicbadgedetails { }
.publicbadgename { margin: 0 0 0 0; font-weight: bold; }
.publicbadgenamedesc { margin: 0 0 0 0; }

/*---- Side Search Box ----*/
.sidesearchbox { }
.sidesearchbox ul { padding: 0; margin: 0; }
.sidesearchbox ul li { display: inline; float: left; padding: 0; margin: 0; }
.sidesearchbox ul li input[type=text] { width: 100%; }
.sidesearchbox ul li.sidesearchboxtb {width:75%;}
.sidesearchbox ul li input[type=text]{ width:90%;}
.sidesearchbox form { padding: 0; margin: 0; }

/*--- Show Voters ---*/
.showvoters { cursor: pointer; position: relative; }
.showvotersbox { position: absolute; top: 0; background-color: #fff; border: 1px solid #ccc; display: none; font-size: 12px; z-index: 999; padding: 6px; width: 125px; text-align: left; line-height: 15px; border-left: none; color: #7D7D7D; }
.showvotersbox .smallspinner { background: transparent url('../Images/arrow-spinner-blue.gif') no-repeat; width: 16px; height: 16px; display: block; }
.showvotersbox ul { padding: 0; margin: 0; }
.showvotersbox ul li { padding: 2px 0; list-style: none; }

/*--- Expand Votes --*/
.expandvotes { cursor: pointer; }
.expandvotesholder { }
.expandvotesholder .upvotes { color: green; font-weight: bold; padding: 0 0 4px; margin: 0 4px; }
.expandvotesholder .downvotes { color: maroon; font-weight: bold; padding: 4px 0 0; margin: 0 4px; border-top: 1px dotted #ccc; }

/*--- Jquery UI ----*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-autocomplete { position: absolute; cursor: default; }
* html .ui-autocomplete { width: 1px; }
/* without this, the menu expands to 100% in IE6 */

.ui-menu { list-style: none; padding: 2px; margin: 0; display: block; float: left; }
.ui-menu .ui-menu { margin-top: -3px; }
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; float: left; clear: left; width: 100%; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: .2em .4em; line-height: 1.5; zoom: 1; }
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif /*{ffDefault}*/; font-size: 1.1em /*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif /*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa /*{borderColorContent}*/; background: #ffffff; color: #222222 /*{fcContent}*/; }
.ui-widget-content a { color: #222222 /*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa /*{borderColorHeader}*/; background: #cccccc /*{bgColorHeader}*/; color: #222222 /*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222 /*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3 /*{borderColorDefault}*/; background: #e6e6e6; font-weight: normal /*{fwDefault}*/; color: #555555 /*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555 /*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999 /*{borderColorHover}*/; background: #dadada; font-weight: normal /*{fwDefault}*/; color: #212121 /*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121 /*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa /*{borderColorActive}*/; background: #ffffff; font-weight: normal /*{fwDefault}*/; color: #212121 /*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121 /*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #fcefa1 /*{borderColorHighlight}*/; background: #fbf9ee; color: #363636 /*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #363636 /*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid #cd0a0a /*{borderColorError}*/; background: #fef1ec; color: #cd0a0a /*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a /*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a /*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary { opacity: .7; filter: Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); background-image: none; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px /*{cornerRadius}*/; -webkit-border-top-left-radius: 4px /*{cornerRadius}*/; -khtml-border-top-left-radius: 4px /*{cornerRadius}*/; border-top-left-radius: 4px /*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px /*{cornerRadius}*/; -webkit-border-top-right-radius: 4px /*{cornerRadius}*/; -khtml-border-top-right-radius: 4px /*{cornerRadius}*/; border-top-right-radius: 4px /*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px /*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px /*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px /*{cornerRadius}*/; border-bottom-left-radius: 4px /*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px /*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px /*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px /*{cornerRadius}*/; border-bottom-right-radius: 4px /*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa; opacity: .3; filter: Alpha(Opacity=30) /*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px /*{offsetTopShadow}*/ 0 0 -8px /*{offsetLeftShadow}*/; padding: 8px /*{thicknessShadow}*/; background: #aaaaaa; opacity: .3; filter: Alpha(Opacity=30) /*{opacityShadow}*/; -moz-border-radius: 8px /*{cornerRadiusShadow}*/; -khtml-border-radius: 8px /*{cornerRadiusShadow}*/; -webkit-border-radius: 8px /*{cornerRadiusShadow}*/; border-radius: 8px /*{cornerRadiusShadow}*/; }

/*--- Facebook / OAuth Login ---*/
.loginortext { text-align: center; padding-top: 50px; font-size: 28px; }
.oauthbuttons { padding: 50px 0 0 0; }
.oauthbuttons a.btn { display: block; width: 90%; margin: 10px 0; line-height: 29px; font-size: 18px; text-align: left; color: #626262; }
.oauthbuttons a.btn img.socialicon { width: 32px; float: left; margin: 0 5px 0 0; }
.oauthbuttons a.facebookloginbutton { }
.oauthbuttons a.twitterloginbutton { }
.oauthbuttons a.googleloginbutton { }
.oauthbuttons a.myopenidloginbutton { }
.oauthbuttons a.yahoologinbutton { }


/*--- Related Question Lookup ---*/
.relatedtopicsholder { display: none; }
.relatedtopicsholder .relatedtopics { }
.relatedtopicsholder .relatedtopics h5 { }
.relatedtopicsholder .relatedtopics ul { display: block; height: 150px; overflow-y: scroll; overflow-x: clip; padding: 0; margin: 0; }
.relatedtopicsholder .relatedtopics ul li { padding: 1px 0; display: block; margin: 0; }
.relatedtopicsholder .relatedtopics ul li span.topicvotessmall { float: left; margin: 0 8px 0 0; border-bottom: none; }
.relatedtopicsholder .relatedtopics ul li a, .relatedtopicsholder .relatedtopics ul li a:visited { font-size: 16px; line-height: 25px; color: #4891dc; }
.relatedtopicsholder .relatedtopics ul li a:hover { }

/*--- Misc Mobile Style ---*/
.mobileview .mobilenavbar .mobilenavbartopstrip { background-color: #4891DC; }

/*--- Category Index ---*/
.categoryindex { }
.categoryindex .categorydetails { padding-bottom: 17px; margin-bottom: 7px; border-bottom: 1px solid #eeeeee; }
.categoryindex .categorydetails h2 { padding: 0 0 0 0; margin: 0 0 0 0; }
.categoryindex .categorydetails p { padding: 0 0 8px 0; margin: 0 0 0 0; font-size: 15px; }
.categoryindex .categorydetailsfooter { font-size: 12px; padding-top: 5px; padding-bottom: 0; }
.categoryindex .categorydetailsfooter .catrss { text-align: left; }
.categoryindex .categorydetailsfooter .catrss .rsssubscribe { margin-bottom: 20px; float: none; margin: 0; }
.categoryindex .categorydetailsfooter .catdiscussions { text-align: center; }
.categoryindex .categorydetailsfooter .catcomments { text-align: center; }
.categoryindex .categorydetailsfooter .catmostrecent { text-align: right; }

/*--- Pager ---*/
.pagination ul li a { color: #626262; }

/*--- Attach Files ---*/
.postuploadholder { display: none; }
.postuploadholder .span8 { border-top: 1px #bfbfbf dotted; padding: 15px 0 0 0; margin-top: 15px; }
.postuploadedfilesholder { border-top: 1px #bfbfbf dotted; padding: 15px 0 0 0; margin-top: 25px; }
.postuploadedfilesholder div.fileupload { border: 1px solid #2D82D7; width: 46.5%; -moz-border-radius: 2px; -webkit-border-radius: 2px; display: block; float: left; padding: 6px 5px; text-decoration: none; color: #2676C6; margin-right: 5px; margin-bottom: 5px; background-color: #4891dc; line-height: 24px; }
.postuploadedfilesholder div.fileupload a { color: #fff; font-size: 15px; }
.postuploadedfilesholder div.fileupload span.deleteupload a { font-weight: bold; font-size: 22px; padding: 0 0 0 14px; line-height: 22px; float: right; }

/*============== MEDIA QUERIES OVERIDES ==============*/

@media (max-width: 1105px) {
}

@media (max-width: 1045px) {
}

@media (max-width: 979px) {
    body { padding: 0 !Important; }
}

@media (max-width: 925px) {
}

@media screen and (max-width: 860px) {
}

@media (max-width: 767px) {

    /*-- Stop gap produced by bootstrap*/
    body { padding: 0; }
    .container-fluid { padding-left: 10px; padding-right: 10px; }

    .mainbody .btn { padding-left: 0; padding-right: 0; text-align: center; height: auto; line-height: none; width: 100% !Important; }
    .mainbody .input-append .btn { padding-left: 20px; padding-right: 20px; width: auto!Important; }

    /*--- Nav Bar ---*/
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left: 0; margin-right: 0; }
    #logindisplay { text-align: center; font-size: 14px; }

    /*-- side ---*/
    .sidelayoutsection { padding: 20px 0 0 0; }

    /*-- Topic Row --*/
    .topicrow { }
    .topicrow .topicrecent { display: none !Important; }
    .topicrow .topicstats { float: left; width: 18%; }
    .topicrow .topicstats .statsblock { float: none; width: auto; margin: 0 0 3px 0; height: auto; line-height: normal; }
    .topicrow .topicrowdetails { float: right; width: 80%; }
    .topicrow .topicviews { display: none; }
    .latesttopicsheader .latesttopicheading { float: left; width: 85%; }
    .latesttopicsheader .latesttopicrss { float: right; width: 15%; }

    /*--- Post ---*/
    .post { position: relative; }
    .post .tagsinput { }
    .post .postkarmaouter { }
    .post .postmemberdetailsinner { text-align: right; }
    .mainbody .topicheader { font-size: 25px; line-height: normal; margin-bottom: 5px; }
    .mainbody .topicsubscription { text-align: center; }
    .mainbody .postmemberdetailsinner { display: none; }
    .emailsubscription, .emailunsubscription { float: none; }
    .postuploadedfilesholder div.fileupload { float: none; width: auto; margin: 0 0 6px 0; }
    .postkarmaouter .postadminui a, .postkarmaouter .postadminui a:visited { margin: 8px 0; padding: 3px 0; }
    .mainbody .karmapointsholder { float: left; width: 40%; margin: 0; }
    .mainbody .karmaholder { min-height: initial; height: auto; }
    .mainbody .karmascore { line-height: normal; padding: 1px 0; }
    .mainbody .solutionholder { float: right; clear: none; }
    .mainbody .postbodytop { margin-bottom: 90px; }
    .mainbody .postmemberdetails { position: absolute; top: 45px; }
    .mainbody .topicstarterpostcomments { text-align: center; }
    .mainbody .topicpostorderfilter { text-align: center; }
    .mainbody .postuploadbutton { margin-bottom: 15px; }

    /*--- Activity ---*/
    .activityholder .activityentry { text-align: center; padding: 18px 0; }
    .publicbadgeline { text-align: center; }
    .mainbody .activityheading { float: left;width: 90%;}
    .mainbody .activityrss {float: right;width: 10%;}

    /*--- Polls ---*/
    .polladdremovenewanswers a.btn { width: 49% !Important; }
    .mainbody .progress { margin-bottom: 8px;}

    /*--- Search Page ---*/
    .large-search { }

    /*--- Side Search ---*/
    .sidesearchbox {}
    .mainbody .sidesearchbox .btn { padding-left: 10px;padding-right: 10px;}

    /*--- All categories ---*/
    .categoryindex .categorydetailsfooter .catrss { float: left; width: 15%; }
    .categoryindex .categorydetailsfooter .catdiscussions { float: left; width: 40%; }
    .categoryindex .categorydetailsfooter .catcomments { float: right; width: 40%; }
    .categoryindex .categorydetailsfooter .catmostrecent { clear: both; text-align: left; }

    /*--- Documentation Block ---*/
    .documentation-message-block { margin-bottom: 10px;}
}

@media (max-width: 600px) {
    .topicrow .topicstats .statsblock { font-size: 16px; }
}

@media (max-width: 480px) {
}
