﻿@if (!Context.IsMobileDevice())
{
<script src="@Url.Content("~/scripts/tinymce/tiny_mce.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            tinyMCE.init({
                // General options
                mode: "textareas",
                editor_selector: "rte",
                editor_deselector: "norte",
                //content_css: "/css/fonts.css",
                auto_resize: true,
                theme: "advanced",
                remove_linebreaks: false,
                relative_urls: false,
                plugins: "advimage",
                theme_advanced_buttons1_add: "insertimage",
                theme_advanced_buttons1: "bold,strikethrough,image,|,bullist,numlist,|,link,unlink,formatselect",
                theme_advanced_toolbar_align: "center",

                            @*
            //theme: "advanced",
            //plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,advlist",

            //// Theme options
            //theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
            //theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
            //theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
            //theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
            //theme_advanced_toolbar_location: "top",            
            //theme_advanced_statusbar_location: "bottom",
            //theme_advanced_resizing: true
            *@
            });
        });
    </script>
}
<div class="tinymceholder">    
    @Html.TextArea(string.Empty, new {@class = "rte"})     
</div>
