﻿@using MVCForum.Utilities
@model MVCForum.Website.ViewModels.ActiveMembersViewModel

@if (Model.ActiveMembers.Any())
{
    <ul class="activememberslist">
        <li class="activememberslistheading">@Html.LanguageString("Stats.FooterActiveUsersText")</li>
        @foreach (var member in Model.ActiveMembers)
        {
            <li>
                <a title="@Html.Raw(member.UserName)" href="@member.NiceUrl">
                    <img src="@StringUtils.GetGravatarImage(member.Email, AppConstants.GravatarLeaderboardSize)" alt="@Html.Raw(member.UserName)" />
                </a>
            </li>
        }
    </ul>
    
}