﻿/*--- Bootstrap Overides ---*/
.container-fluid { max-width: 1000px;margin-left: auto;margin-right: auto;}
.navbar .brand { padding-top: 5px; padding-bottom:3px; }
.btn-group { margin-top: 10px;margin-bottom: 10px;}
hr { border-top: 1px solid #3C3C35; border-bottom: 1px solid #CDCDCD; }
.pagination ul > li > a, .pagination ul > li > span { color: #808185;}
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {background-color: #777;}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #719E38;
  *background-color: #719E38;
  background-image: -moz-linear-gradient(top, #8abe49, #719E38);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8abe49), to(#719E38));
  background-image: -webkit-linear-gradient(top, #8abe49, #719E38);
  background-image: -o-linear-gradient(top, #8abe49, #719E38);
  background-image: linear-gradient(to bottom, #8abe49, #719E38);
  background-repeat: repeat-x;
  border-color: #719E38 #719E38 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8abe49', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #719E38;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #719E38 \9;
}
legend { color: #777;}

/* --- Set main body styles --- */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
input[type=submit] {-webkit-appearance: none;}
body {font-family:Calibri, Arial, Helvetica, sans-serif;background-color: #121210;color: #efefef;}

/* ---- Lees Clearer ---- */
.clearer {clear:both; line-height:1px; height:1px; font-size:1px;}

/* ---- Generic Link Styles ---- */
a, a:visited { color: #efefef;text-decoration: underline;}
a:hover, a:focus { color: #22B7FF;text-decoration: none; }
a.btn { text-decoration: none;}

h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited { text-decoration: none;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover { text-decoration: underlineside-box;}

/* ---- Generic Heading Styles ---- */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}

/*--- Responsive Videos ---*/
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* ---- Paragraph Styles ---- */
p {}

hr.thin { margin: 14px 0;}
.span9 hr.thin:last-child { display: none;}

/*--- Padded Row ---*/
.paddedrow { padding-top: 10px;padding-bottom: 10px;}
.sidelayoutsection { position: relative;}

/*--- Forms --------*/
form { margin-bottom: 5px;}

/*--- Validation errors ---*/
.validation-summary-errors {background-color: #F2DEDE; color: #B94A48; border: 1px solid #EED3D7; border-radius: 4px 4px 4px 4px; margin-bottom: 18px; padding: 8px 14px 8px 14px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.validation-summary-errors span { display: block;padding: 0 0 5px 0;}
.validation-summary-errors ul { margin-bottom: 0;}

/*labels*/
.editor-label { padding: 5px 0 2px 0;}
.editor-label label {}

/*textboxes*/
.editor-field {}
.editor-field input[type=text], .editor-field input[type="password"] {font-size: 1.5em; width: 95%; line-height: 28px; height: 28px;}

/*textareas*/
textarea { min-height:220px;width: 95%;}

/*dropdowns*/
select {  }

/*--- Validation Errors ---*/
.input-validation-error {border-color: #B94A48; color: #B94A48;}
.field-validation-error span {color: #B94A48;display: block;}

/*checkboxes/radiobuttons*/
.editor-checkboxes {padding: 0 0 6px;}
.editor-checkboxes span { padding: 0 15px 0 0;}
.n3ocheckboxfield { overflow: hidden; padding: 4px 0 10px 0;}
.n3ocheckboxfield label {display: block; padding: 0 0 0 10px;float: left;}
.n3ocheckboxfield input { float: left;}

/*--- Ajax Spinner ---*/
.ajaxspinner {width:16px;height:16px;background: transparent url('../Images/arrow-spinner-blue.gif') no-repeat;padding: 0 0 0 20px;}

/*submit buttons*/
.submit-holder { padding: 10px 0;}

/*--- Header ---*/
.navbar .brand { padding: 4px 0 0 0; margin: 3px 15px 0 0;width: 30px;height: 30px;display: block;text-transform: capitalize;text-indent: -9999px;background: transparent url('../Images/admin-n3o-logo.png') no-repeat;}

/*--- small logon ---*/
.loginsmallheader { background-color: #eee; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; text-align: center;padding: 3px 0;}

/*--- Side box styles ---*/
.side-box {background-color: #31312f; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; margin-bottom: 20px; padding: 12px;}
.side-box ul { padding: 0;margin: 0;border-bottom: 1px #ddd solid;}
.side-box ul li { padding:4px 0;border-top: 1px #ddd solid;list-style: none;}
.side-box ul li a { text-decoration: none;}
.side-box h5 { font-size: 14px;padding: 0 0 5px 0;color: #666;}

/*--- Subcategories --*/
.subcategoryholder {}
.subcategoryholder h4 {}
.subcategoryholder ul { padding: 0 0 30px 0;margin: 0 0 0 0;}
.subcategoryholder ul li { display: block;float: left;list-style: none;width: 33%;}
.subcategoryholder ul li a, .subcategoryholder ul li a:visited {display: block;margin: 2px;background-color: #efefef;padding: 5px 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}
.subcategoryholder ul li a:hover {background-color:#ccc;color: #fff;text-decoration: none;}

/*--- category rows ---*/
.catrow { border-bottom: 1px #eeeeee solid;}

/*--- New Discussion Button ---*/
.new-discussion-button { display: block;}

/*--- Topic Listing Pages ---*/
.topicrow { padding: 15px 0 2px 0; *zoom: 1;}
.topicrow:before, .topicrow:after { display: table; content: ""; }
.topicrow:after { clear: both; }
.topicrowdetails {}
.topicrowdetails .tagsinput { margin: 0;padding: 0;background: none;}
.topicrowdetails h3 { margin: 0 0 9px 0;line-height:25px;}

.topicstats {text-align: center;}
.statsblock { font-size: 20px; font-weight: bold; padding: 8px 0 2px 0; color: #ccc; border: 1px solid #292927; height: 45px; width: 29.5%; float: left; background: none repeat scroll 0 0 #31312f; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.statsblock span { font-size: 10px;font-weight: normal;display: block;}

.topicvotes {}
.topicvotessmall { background: none repeat scroll 0 0 #BFBFBF;display: block;width: 25px;font-size: 18px;text-align: center;}
.topiccomments { margin: 0 4px;}
.topicviews {}

.topicpreview { padding: 2px 0 0 0;}
.answered { background-color: #719E38; color: #ffffff !important; border-color: #668A39; }

.topicrowstatscategory {font-size: 12px; font-style: italic;color: #808185;padding: 5px 0;}

.topicrecent { text-align: center;}
.topicrecent p { margin: 0; font-size: 10px;}
.topicrecenttitle { font-weight: bold;padding: 0 0 5px 0;}
.topicrecentavatar {}
.topicrecentavatar img {-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;}
.topicrecentdate { line-height: 11px;padding: 6px 0 0 0;}
.topicheader { margin: 0 0 25px 0;}

/*-- Posts ---*/
.post {padding:7px 0;margin-bottom: 14px;}
/*.post:nth-child(odd) {background-color:#f9f9f9;}*/
.postmemberdetails {}
.postmemberdetailsinner {-moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; text-align:center; padding:6px 0 5px; color:#999999; font-size:0.8em;}
.postmemberavatar img {-moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; }

.postmemberposts span {color:#000000; padding:3px 0 0 0;}
.postmemberkarma span {color:#000000; padding:3px 0 0 0;}

.postbody {}
.postcontent {}
.postbodytop {clear:both; padding:5px 0; border-bottom:1px #CCC dotted; font-size:0.9em; margin:0 0 10px 0; color:#777;}

.postkarmaouter {}
.postkarmaouter .postadminui {display:block; padding:8px 0; clear:both;}
.postkarmaouter .postadminui a, .postkarmaouter .postadminui a:visited { display: block; margin: 5px 0; clear: both; background-color: #B0B0B0; text-align: center; padding: 1px; font-size: 0.8em; font-weight: bold; color: #FFFFFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; text-decoration: none; }
.postkarmaouter .postadminui a:hover { background-color:#666666;}
.postlastedited { margin: 0;padding: 15px 0 0 0;font-size: 0.8em;font-style: italic;color: #bbb;}
.userpostsignature { padding: 5px 0 0 0;clear: both;margin: 20px 0 0 0;border-top: 1px #efefef dotted;}

.editorholder { margin: 0 0 15px 0;}
.editorholder textarea { height: 220px;}
.karmaholder { text-align: center;margin: 0; min-height:70px;height:auto !important;height:70px;}
.karmascore {background-color: #31312f;color:#ccc; display:block; font-size:26px; padding:6px 0 8px;line-height: 30px;-moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;margin: 5px 0;border: 1px solid #777; }
span.votenumber { color: #efefef;}
.postissolution {background-color: #5BB75B; color: #ffffff !Important;border-color: #fff;}

.thumbuplink {height:13px;width: 26px;font-size: 0; display:block; line-height: 0;margin: 0 auto;background-image: url('../Images/up-arrow.png');background-repeat: no-repeat;text-indent: -9999em;cursor: pointer;}
.thumbdownlink {height:13px;width: 26px;font-size: 0; display:block; line-height: 0;margin: 0 auto;background-image: url('../Images/down-arrow.png');background-repeat: no-repeat;text-indent: -9999em;cursor: pointer;}
#topicheading {margin:0 0 10px 0;}
p.lastedited { font-size:0.9em; font-style:italic; color:#595959;}

.userpostadmin {} 

.solutionholder {display: block;text-decoration: none; width: 40px;height: 31px;margin: 10px auto 0 auto; background-image: url('../Images/solve-tick.png');background-repeat: no-repeat;background-position: left; cursor: pointer;display: block;font-size: 0; display:block; line-height: 0;text-indent: -9999em;clear: both;} 
.solutionholder:hover {background-position: right; }
.issolution-solved {background-position: right !Important; cursor:default; }

#createpostholder { padding: 15px 0 0 0;}
#createpostwait { margin: 0 0 0 15px;}
.floater {position: fixed;top: 50px ;z-index: 999; width: 220px;}

.createpostholder .ajaxspinner { float: right;margin: 0 0 0 0;}

/*--- Topic Starter Post ---*/
.topicstarterpost { padding: 0 0 10px 0;border-bottom: 3px #ccc solid;margin: 0 0 35px 0;}
.topicstarterpost .post { margin-bottom: 0;}
.topicstarterpostcomments { font-size: 21px;}
.topicpostorderfilter { text-align: right;font-size: 12px;}
.topicpostorderfilter .orderfilerlink {}
.topicpostorderfilter .orderfilerlinkactive { text-decoration: underline;}
.topicstarterpostbeginpostsheading { padding-top: 7px; }

/*--- Show more posts button ---*/
.showmoreposts { width: 100%;padding-left: 0;padding-right: 0;}

/*--- Paging ---*/
.pagination ul > li > a, .pagination ul > li > span {background-color: #31312f;}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span { background-color: #454543; }

/*--- TAGS ---*/
div.tagsinput {background: none; padding:10px 0 0 0; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #333; -moz-border-radius: 2px; -webkit-border-radius: 2px; display: block; float: left; padding: 2px 5px; text-decoration: none; background: #31312f; color: #7E7E7E; margin-right: 5px; margin-bottom: 5px; }
div.tagsinput span.tag:hover { background-color: #DDDDDD; }
div.tagsinput span.tag a { font-weight: bold; color: #7E7E7E; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; padding:5px; background: transparent; color: #efefef !Important; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

/*--- Tag Cloud ---*/
.tagCloud { border: none!Important; overflow: hidden;}
.tagCloud li { float: left;border: 1px #272726 solid !Important;padding: 2px 3px !Important;-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;margin: 0 5px 5px 0;background-color:#272726;}
.tagCloud li span.tagName { float: left;width: auto;display: block;margin: 0 5px 0 0;}
.tagCloud li span.tagName a, .tagCloud li span.tagName a:visited { color: #7E7E7E;}
.tagCloud li span.tagName a:hover { color: #999999;}
.tagCloud li span.tagCount {float: left; padding: 0 2px; width: auto;display: block;-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;background-color: #666; color: #fff;}

/*--- High Earners ---*/
.highearners-box {}
.highearners-box ul {}
.highearners-box ul li { overflow: hidden;display: block;}
.highearners-box ul li span.earnername { float: left; width: auto;display: block;}
.highearners-box ul li span.earneramount {float: right; padding: 2px; width: auto;display: block;-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;background-color: #666; color: #fff;}

/*--- Member Profiles Public ---*/
.memberprofilepublic {}
.memberprofilepublic h2 {}
.memberprofilepublic h3 {}
.memberprofilepublic .memberprofileadminsection {}
.memberprofilepublic .memberdiscussions {}
.memberprofilepublic .badgeactivity { padding: 15px 0 0 0;margin-top: 10px;border-top: 1px #efefef solid;}
.memberprofilepublic .memberactivity {}
.topicrowslim { padding: 3px 0;}

/*--- Notification Section ---*/
.rsssubscribe { float: right;margin: 0 0 0 12px;display: block;width:17px;height:17px;background: transparent url('../Images/rss-icon.png') no-repeat;text-transform: capitalize;text-indent: -9999px;}
.emailsubscription, .emailunsubscription { float: right;margin: 0 0 0 12px;padding: 0 20px 0 0;background-position: right center;background-repeat: no-repeat;height: 16px;line-height: 16px;}
.emailsubscription {background-image: url('../Images/mail-add.png');}
.emailunsubscription {background-image: url('../Images/mail-delete.png');}

/*--- Footer Stats ---*/
.latestmembersjoined, .activememberslist { padding: 5px 0;margin: 0;}
.latestmembersjoined li, .activememberslist li { display: inline;padding: 2px 5px 2px 0;}
.activememberslist li { line-height: 22px;}
.latestmembersjoined li a, .latestmembersjoined li a:visited, .activememberslist li a, .activememberslist li a:visited {}
.activememberslist li a { text-decoration: none;}
.latestmembersjoined li a:hover, .activememberslist li a:hover {text-decoration: none;}
.latestmemberheading, .activememberslistheading { font-weight: bold;}

/*--- Private Messages ---*/
.privatemessagefrom { font-size: 1.2em;padding: 5px 0;}
.privatemessagesent { font-size: 1.2em;padding: 5px 0;}
.privatemessagecontent { padding: 10px 0;}
.previousmessageholder { padding: 15px 0 0 0; margin: 15px 0 0 0;border-top: 1px dotted #ccc;color: #666;}
.previousmessageholder .originalmessage { display: block;font-style: italic;padding: 0 0 6px 0;font-size: 12px;}
.privatemessagedelete { cursor: pointer;}

/*--- Change Password ---*/
.changepasswordtext { padding: 12px 0;margin:0;}
.changepasswordtext a, .changepasswordtext a:visited { text-decoration: underline;}
.changepasswordtext a:hover { text-decoration: none;}

/*--- Forgot Password ---*/
.forgotpasswordtext { padding: 12px 0;margin:0;}
.forgotpasswordtext a, .forgotpasswordtext a:visited { text-decoration: underline;}
.forgotpasswordtext a:hover { text-decoration: none;}

/*--- Activity ---*/
.activityholder {}
.activityholder .activityentry { padding:12px 0;border-bottom: 1px #eee dotted;}
.activityholder .activityentry a, .activityholder .activityentry a:visited { text-decoration: underline;}
.activityholder .activityentry a:hover { text-decoration: none;}
.activityholder .activityentry p { margin: 0;}
.activityholder .activitybadge{}
.activityholder .activityinfo {}
.activityholder .activityinfo .activityinfotext { font-size: 20px;}
.activityholder .activityinfo .activitysubdate { font-size: 10px;}
.activitybadgedescription {font-style: italic;padding: 3px 0;}

/*--- Badge List Member Profile ---*/
.memberbadgelist { padding: 0;margin: 0;}
.memberbadgelist li { padding:4px  0;margin: 0;list-style: none;border-bottom: 1px #eee dotted;}

/*--- Badge List Public ---*/
.badgeholder {}
.publicbadgeline {}
.publicbadge {}
.publicbadgedetails {}
.publicbadgename { margin: 0 0 0 0; font-weight: bold;}
.publicbadgenamedesc { margin: 0 0 0 0;}

/*---- Side Search Box ----*/
.sidesearchbox {}
.sidesearchbox ul { padding: 0;margin: 0;border: none !Important;}
.sidesearchbox ul li {float: left;padding: 0;margin: 0;clear: none;width: 20%;border: none !Important;}
.sidesearchbox ul li.sidesearchboxtb {width:75%;}
.sidesearchbox ul li input[type=text]{ width:90%;}
.sidesearchbox form { padding: 0;margin: 0;}

/*--- Show Voters ---*/
.showvoters { cursor: pointer;position: relative;}
.showvotersbox { position: absolute;top:0;background-color: #fff;border: 1px solid #ccc;display: none;font-size: 12px;z-index: 999;padding: 6px;width: 125px;text-align: left;line-height: 15px;border-left: none;color: #7D7D7D;}
.showvotersbox .smallspinner {background: transparent url('../Images/arrow-spinner-blue.gif') no-repeat;width: 16px;height: 16px;display: block;}
.showvotersbox ul { padding: 0;margin: 0;}
.showvotersbox ul li { padding:2px 0;list-style: none;}

/*--- Expand Votes --*/
.expandvotes { cursor: pointer;}
.expandvotesholder {}
.expandvotesholder .upvotes { color: #5BBB7D; font-weight: bold; padding: 0 0 4px; margin: 0 4px; }
.expandvotesholder .downvotes { color: #CB6054; font-weight: bold; padding: 4px 0 0; margin: 0 4px; border-top: 1px dotted #ccc; }

/*--- Polls --*/
.pollcreatebuttonholder { text-align: right;}
.createpollbutton {}
.removepollbutton {}
.pollanswerholder {}
.pollanswerholder ul { padding: 0;margin: 0; list-style: none;}
.pollanswerholder ul li { list-style: none; padding: 0 0 5px;}
.pollanswerholder ul li input { width: 95%;height: 19px;line-height: 19px;}
.showpollholder { padding: 0 0 15px 0;}
.pollanswerrow { padding: 5px 0;font-size: 18px;padding: 5px 0;}
.pollbar { background-color: #AAAAAA;height: 20px; float: left;margin: 0 11px 0 0; }
.pollvotebuttonholder { padding: 10px 0;}
.pollanswerrowholder { font-size: 14px;padding: 0 0 3px 0;font-style: italic;}
.pollradiobuttonholder { float: left;width: 40px;text-align: center;height: 20px;}
input[type="radio"].pollanswerselect { margin: 3px 0 0 15px;float: left;}


/*--- Jquery UI ----*/
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-autocomplete { position: absolute; cursor: default; }	
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {list-style:none;padding: 2px;margin: 0;display:block;float: left;}
.ui-menu .ui-menu {margin-top: -3px;}
.ui-menu .ui-menu-item {margin:0;padding: 0;zoom: 1;float: left;clear: left;width: 100%;}
.ui-menu .ui-menu-item a {text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1;}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {font-weight: normal;margin: -1px;}

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/;background: #ffffff; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/;background: #cccccc/*{bgColorHeader}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/;background: #e6e6e6; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/;background: #dadada; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -khtml-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }

/*--- Facebook / OAuth Login ---*/
.loginortext { text-align: center;padding-top: 50px;font-size: 28px;}
.oauthbuttons { padding: 50px 0 0 0;}
.oauthbuttons a.btn { display: block;width: 90%;margin: 10px 0;line-height: 29px;font-size: 18px;text-align: left;color: #626262;}
.oauthbuttons a.btn img.socialicon {width: 32px;float: left;margin: 0 5px 0 0;}
.oauthbuttons a.facebookloginbutton {}
.oauthbuttons a.twitterloginbutton {}
.oauthbuttons a.googleloginbutton {}
.oauthbuttons a.myopenidloginbutton {}
.oauthbuttons a.yahoologinbutton {}

/*--- Related Question Lookup ---*/
.relatedtopicsholder { display: none;}
.relatedtopicsholder .relatedtopics {}
.relatedtopicsholder .relatedtopics h5 { font-size: 18px;padding: 0 0 8px 0;}
.relatedtopicsholder .relatedtopics ul { display: block; height: 150px;overflow-y: scroll; overflow-x: clip;padding: 0;margin: 0;}
.relatedtopicsholder .relatedtopics ul li { padding: 1px 0;display: block;margin: 0;}
.relatedtopicsholder .relatedtopics ul li span.topicvotessmall { float: left;margin: 0 8px 0 0;border-bottom: none;}
.relatedtopicsholder .relatedtopics ul li a, .relatedtopicsholder .relatedtopics ul li a:visited { font-size: 16px;line-height: 25px;color: #4891dc;}
.relatedtopicsholder .relatedtopics ul li a:hover {}

/*--- Misc Mobile Style ---*/
.mobileview .mobilenavbar .mobilenavbartopstrip {background-color: #4891DC;}

/*--- Category Index ---*/
.categoryindex {}
.categoryindex .categorydetails { padding-bottom: 17px;margin-bottom:7px;border-bottom: 1px solid #eeeeee;}
.categoryindex .categorydetails h2 { padding: 0 0 0 0;margin: 0 0 0 0;}
.categoryindex .categorydetails p { padding: 0 0 8px 0;margin: 0 0 0 0;font-size: 15px;}
.categoryindex .categorydetailsfooter { font-size: 12px;padding-top: 5px;padding-bottom: 0;}
.categoryindex .categorydetailsfooter .catrss { text-align: left;}
.categoryindex .categorydetailsfooter .catrss .rsssubscribe {margin-bottom:20px;float: none;margin: 0;}
.categoryindex .categorydetailsfooter .catdiscussions {text-align: center;}
.categoryindex .categorydetailsfooter .catcomments {text-align: center;}
.categoryindex .categorydetailsfooter .catmostrecent {text-align: right;}

/*--- Attach Files ---*/
.postuploadholder { display: none;}
.postuploadholder .span8 { border-top: 1px #bfbfbf dotted;padding: 15px 0 0 0;margin-top: 15px;}
.postuploadedfilesholder { border-top: 1px #bfbfbf dotted;padding: 15px 0 0 0;margin-top: 25px;}
.postuploadedfilesholder div.fileupload { border: 1px solid #2D82D7;width: 46.5%; -moz-border-radius: 2px; -webkit-border-radius: 2px; display: block; float: left; padding: 6px 5px; text-decoration: none; color: #2676C6; margin-right: 5px; margin-bottom: 5px; background-color: #4891dc;line-height: 24px; }
.postuploadedfilesholder div.fileupload a { color: #fff;font-size: 15px;}
.postuploadedfilesholder div.fileupload span.deleteupload a{ font-weight: bold;font-size: 22px;padding: 0 0 0 14px;line-height: 22px;float: right;}

/*============== MEDIA QUERIES OVERIDES ==============*/

@media (max-width: 1105px) {
}

@media (max-width: 1045px) {
}

@media (max-width: 979px) {
    body { padding: 0 !Important; }
}

@media (max-width: 925px) {
}

@media screen and (max-width: 860px) {
}

@media (max-width: 767px) {

    /*-- Stop gap produced by bootstrap*/
    body { padding: 0; }
    .container-fluid { padding-left: 10px; padding-right: 10px; }

    .mainbody .btn { padding-left: 0; padding-right: 0; text-align: center; height: auto; line-height: none; width: 100% !Important; }
    .mainbody .input-append .btn { padding-left: 20px; padding-right: 20px; width: auto!Important; }

    /*--- Nav Bar ---*/
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-left: 0; margin-right: 0; }
    #logindisplay { text-align: center; font-size: 14px; }

    /*-- side ---*/
    .sidelayoutsection { padding: 20px 0 0 0; }

    /*-- Topic Row --*/
    .topicrow { }
    .topicrow .topicrecent { display: none !Important; }
    .topicrow .topicstats { float: left; width: 18%; }
    .topicrow .topicstats .statsblock { float: none; width: auto; margin: 0 0 3px 0; height: auto; line-height: normal; }
    .topicrow .topicrowdetails { float: right; width: 80%; }
    .topicrow .topicviews { display: none; }
    .latesttopicsheader .latesttopicheading { float: left; width: 85%; }
    .latesttopicsheader .latesttopicrss { float: right; width: 15%; }

    /*--- Post ---*/
    .post { position: relative; }
    .post .tagsinput { }
    .post .postkarmaouter { }
    .post .postmemberdetailsinner { text-align: right; }
    .mainbody .topicheader { font-size: 25px; line-height: normal; margin-bottom: 5px; }
    .mainbody .topicsubscription { text-align: center; }
    .mainbody .postmemberdetailsinner { display: none; }
    .emailsubscription, .emailunsubscription { float: none; }
    .postuploadedfilesholder div.fileupload { float: none; width: auto; margin: 0 0 6px 0; }
    .postkarmaouter .postadminui a, .postkarmaouter .postadminui a:visited { margin: 8px 0; padding: 3px 0; }
    .mainbody .karmapointsholder { float: left; width: 40%; margin: 0; }
    .mainbody .karmaholder { min-height: initial; height: auto; }
    .mainbody .karmascore { line-height: normal; padding: 1px 0; }
    .mainbody .solutionholder { float: right; clear: none; }
    .mainbody .postbodytop { margin-bottom: 90px; }
    .mainbody .postmemberdetails { position: absolute; top: 45px; }
    .mainbody .topicstarterpostcomments { text-align: center; }
    .mainbody .topicpostorderfilter { text-align: center; }
    .mainbody .postuploadbutton { margin-bottom: 15px; }

    /*--- Activity ---*/
    .activityholder .activityentry { text-align: center; padding: 18px 0; }
    .publicbadgeline { text-align: center; }
    .mainbody .activityheading { float: left;width: 90%;}
    .mainbody .activityrss {float: right;width: 10%;}

    /*--- Polls ---*/
    .polladdremovenewanswers a.btn { width: 49% !Important; }
    .mainbody .progress { margin-bottom: 8px;}

    /*--- Search Page ---*/
    .large-search { }

    /*--- Side Search ---*/
    .sidesearchbox {}
    .mainbody .sidesearchbox .btn { padding-left: 10px;padding-right: 10px;}

    /*--- All categories ---*/
    .categoryindex .categorydetailsfooter .catrss { float: left; width: 15%; }
    .categoryindex .categorydetailsfooter .catdiscussions { float: left; width: 40%; }
    .categoryindex .categorydetailsfooter .catcomments { float: right; width: 40%; }
    .categoryindex .categorydetailsfooter .catmostrecent { clear: both; text-align: left; }
}

@media (max-width: 600px) {
    .topicrow .topicstats .statsblock { font-size: 16px; }
}

@media (max-width: 480px) {
}
