﻿@using MVCForum.Domain.Constants
@model MVCForum.Website.ViewModels.IndexCategoryViewModel
@{
    ViewBag.Title = Html.Raw(Html.LanguageString("Category.AllCategories"));
}
@section side
{
    @Html.Action("SideSearch", "Search")
    @Html.Action("PopularTags", "Tag")
    @Html.Action("CurrentWeekHighPointUsers", "Point")
}
<div class="row-fluid">
    <div class="span9">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="categoryindex">

    @foreach (var cat in Model.Categories.AllPermissionSets.Keys)
    {
        var permissions = Model.Categories.AllPermissionSets[cat];
        if (!permissions[AppConstants.PermissionDenyAccess].IsTicked)
        {

            var topicCount = cat.Topics.Count;
            var latestTopicInCategory = cat.Topics.OrderByDescending(x => x.LastPost.DateCreated).FirstOrDefault();
            var postCount = cat.Topics.SelectMany(x => x.Posts).Count();
        <div class="row-fluid">
            <div class="span12 categorydetails">
                <h2><a href="@cat.NiceUrl">@Html.Raw(cat.Name)</a></h2>
                <p>@Html.Raw(cat.Description)</p>
                <div class="row-fluid categorydetailsfooter">
                    <div class="span1 catrss">
                        @if (Html.Settings().EnableRSSFeeds)
                        {
                            <a title="@Html.LanguageString("Home.Rss")" href="@Url.Action("CategoryRss", "Category", new { slug = cat.Slug })" class="rsssubscribe">
                                @Html.LanguageString("Home.Rss")
                            </a>   
                        }
                    </div>
                    <div class="span2 catdiscussions">
                        @string.Format(Html.LanguageString("Rss.Category.Title"), topicCount)
                    </div>
                    <div class="span2 catcomments">
                        @postCount @Html.LanguageString("Topic.CommentsDetails")
                    </div>
                    <div class="span7 catmostrecent">
                        @if (latestTopicInCategory != null)
                        {
                            <text>
                            @Html.LanguageString("Category.MostRecent") <a href="@latestTopicInCategory.NiceUrl">@Html.Raw(latestTopicInCategory.Name)</a>
                            @Html.Raw(string.Format(Html.LanguageString("Topic.StartedBy"),
                                                            DatesUI.GetPrettyDate(latestTopicInCategory.CreateDate.ToString()),
                                                            string.Format("<a href='{0}'>{1}</a>", latestTopicInCategory.User.NiceUrl, latestTopicInCategory.User.UserName)))
                            </text>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    }

</div>
