﻿@using MVCForum.Website.ViewModels
@using MVCForum.Domain.Constants
@model ViewCategoryViewModel
           
@{
    ViewBag.Title = Html.Raw(Model.Category.Name);
    var totalCount = Convert.ToInt32(Model.TotalCount);
    ViewBag.Canonical = Html.Raw(AppHelpers.CanonicalPagingTag(totalCount, Html.Settings().TopicsPerPage, Html));

    var subScribe = string.Empty;
    var unSubscribe = string.Empty;
    const string displayNone = "style='display:none;'";
    if(Model.IsSubscribed)
    {
        subScribe = displayNone;
    }
    else
    {
        unSubscribe = displayNone;
    }
    TempData[AppConstants.DefaultCategoryViewBagName] = Model.Category.Id;
}
@section side
{
    @Html.Action("ListCategorySideMenu", "Category")
    @Html.Action("SideSearch", "Search")
    @Html.Action("PopularTags", "Tag")
    @Html.Action("CurrentWeekHighPointUsers", "Point")
}

@if (Model.SubCategories != null)
{
    Html.RenderPartial("_SubCategories", new SubCategoryViewModel
        {
            AllPermissionSets = Model.SubCategories.AllPermissionSets, 
            ParentCategory = Model.Category
        });
}

<div class="row-fluid categoryheader">
   
    <div class="span8 categoryheading">
        <h2>@Html.Raw(@Model.Category.Name)</h2>
    </div>
    <div class="span4 categoryrss">
        @if(Html.Settings().EnableRSSFeeds)
        {
            <a title="@Html.LanguageString("Home.Rss")" href="@Url.Action("CategoryRss", "Category", new { slug = Model.Category.Slug })" class="rsssubscribe">@Html.LanguageString("Home.Rss")</a>   
        }  
        @if (Model.User != null && Html.Settings().EnableEmailSubscriptions)
        {
            <a @Html.Raw(subScribe) title="@Html.LanguageString("Notification.SubscribeByEmail")" href="#" class="emailsubscription" rel="@Model.Category.Id">
                <span class="emailsubscriptionimage" rel="category">@Html.LanguageString("Notification.Subscribe")</span>
            </a>
            <a @Html.Raw(unSubscribe) title="@Html.LanguageString("Notification.UnSubscribeByEmail")" href="#" class="emailunsubscription" rel="@Model.Category.Id">
                <span class="emailunsubscriptionimage" rel="category">@Html.LanguageString("Notification.UnSubscribe")</span>
            </a>
        }
    </div>

</div>

<p>@Html.Raw(@Model.Category.Description)</p>

@if (Model.Topics.TotalCount > 0)
{
    foreach (var topic in Model.Topics)
    {
        var viewModel = new ViewTopicViewModel { Permissions = Model.Permissions, Topic = topic, ShowCategoryName = false };
        Html.RenderPartial("_Topic", viewModel);
    }

    if (Model.Topics.TotalPages > 1)
    {
        @Html.Pager(Convert.ToInt32(Model.PageIndex), Html.Settings().TopicsPerPage, totalCount, null)
    }
}
else
{
    <p>@Html.LanguageString("Category.NoDiscussions")</p>
}
