﻿@model MVCForum.Website.Areas.Moderator.ViewModels.PostsToModerateViewModel

@if (Model.Posts.Any())
{
    <table>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    @Html.Raw(post.User.Slug)
                </td>
                <td>
                    @using (Html.BeginForm("ModeratePost", "Dashboard", new { @id = post.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="submit-holder">
                            <input type="submit" class="btn btn-small btn-success" value="Moderate" />
                        </div>
                    }
                </td>

            </tr>
        }
    </table>
}
else
{
    <p>No data</p>
}